.health-info {
  margin: 10px;
  border-radius: 30px;
  background-color: #eee;
  border: solid 3px var(--color-secondary);

  li {
    margin: 5px;
  }

  //   .health-data {
  //     border-radius: 30px;
  //     background-color: #eee;
  //     border: solid 3px var(--color-secondary);

  //     margin: 0;
  //   }
}
