.lockscreen-wrapper {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;

  .lockscreen-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .lockscreen-name {
    text-align: center;
    font-weight: 600;
  }

  .lockscreen-item {
    border-radius: 4px;
    padding: 0;
    background: #fff;
    position: relative;
    margin: 10px auto 30px auto;
    width: 290px;

    .lockscreen-name {
      text-align: center;
      font-weight: 600;
    }

    .lockscreen-image {
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: -32px;
      background: white;
      // background: var(--color-secondary);
      padding: 7px;
      z-index: 10;

      img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
      }
    }

    .lockscreen-credentials {
      margin-left: 70px;

      .input-group {
        .form-control {
          outline: none;
          border: none;
        }

        input :focus {
          outline: none;
        }
      }
    }
  }
}
