<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Backend Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\.monitor\venv\Scripts\python.exe|C:\.monitor\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
