<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name=".Monitor" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\.monitor\venv\Scripts\python.exe|C:\.monitor\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <authentication>
                <windowsAuthentication enabled="true" useKernelMode="true">
                    <extendedProtection tokenChecking="Allow" />
                    <providers>
                        <clear />
                        <add value="Negotiate" />
                        <add value="NTLM" />
                    </providers>
                </windowsAuthentication>
            </authentication>
        </security>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
		<authorization>
			<allow users="?" />
		</authorization>
    </system.web>
</configuration>
