<div
  class="create-server"
  *ngIf="(serverName$ | async) || !(serverName$ | async)"
>
  <div class="form-wrapper">
    <form [formGroup]="serverForm">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="serverName" class="form-label required"
                  >Server Name</label
                >
                <input
                  id="serverName"
                  name="serverName"
                  class="form-control highlight"
                  formControlName="serverName"
                />
              </div>

              <div class="form-group">
                <label for="dbServerName" class="form-label required"
                  >DB Server Name</label
                >
                <input
                  id="dbServerName"
                  name="dbServerName"
                  class="form-control highlight"
                  formControlName="dbServerName"
                />
              </div>
              <div class="form-group">
                <label for="dbName" class="form-label required">DB Name</label>
                <input
                  id="dbName"
                  name="dbName"
                  class="form-control highlight"
                  formControlName="dbName"
                />
              </div>
              <div class="form-group">
                <label for="serverIp" class="form-label required"
                  >Server IP</label
                >
                <input
                  type="text"
                  id="serverIp"
                  class="form-control highlight"
                  formControlName="serverIp"
                />
              </div>

              <div class="form-group">
                <label for="aeFilePath" class="form-label required"
                  >AE Script Path</label
                >
                <input
                  type="text"
                  id="aeFilePath"
                  class="form-control highlight"
                  formControlName="aeFilePath"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="aeVersion" class="form-label required"
                  >AssistEdge Version</label
                >
                <input
                  id="aeVersion"
                  name="aeVersion"
                  formControlName="aeVersion"
                  class="form-control highlight"
                />
              </div>

              <div class="form-group">
                <label for="listenerUrl" class="form-label required"
                  >Listener URL</label
                >
                <input
                  type="text"
                  id="listenerUrl"
                  formControlName="listenerUrl"
                  class="form-control highlight"
                />
              </div>

              <div class="form-group">
                <label for="aeSiteUrl" class="form-label required"
                  >AE Site URL</label
                >
                <input
                  type="text"
                  id="aeSiteUrl"
                  formControlName="aeSiteUrl"
                  class="form-control highlight"
                />
              </div>

              <div class="form-group">
                <label for="messagingUrl" class="form-label required"
                  >Messaging URL</label
                >
                <input
                  type="text"
                  id="messagingUrl"
                  formControlName="messagingUrl"
                  class="form-control highlight"
                />
              </div>

              <div class="form-group">
                <label for="userName" class="form-label required"
                  >UserName</label
                >
                <input
                  id="userName"
                  name="userName"
                  formControlName="userName"
                  class="form-control highlight"
                />
              </div>

              <div class="form-group">
                <label for="password" class="form-label required"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                  class="form-control highlight"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              (click)="AddServer()"
              class="btn btn-primary"
              [disabled]="serverForm.invalid"
              [ngClass]="{
                'form-valid': !serverForm.invalid,
                'form-invalid': serverForm.invalid
              }"
            >
              Add Server
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
    <p *ngIf="serverName$ | async" style="display: none"></p>
  </div>
</div>
