<nav class="navbar navbar-inverse navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img src="static/ui/assets/Brand-logo/Infosys.png" alt=""
    /></a>
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#HealthNavbarToggle"
      aria-controls="HealthNavbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="HealthNavbarToggle">
      <ul class="nav navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="[GetRouteByRouteName('server-create')]">
            <span>AssistEdge </span>
            <i class="bi bi-exclude" aria-hidden="true"></i>
          </a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[GetRouteByRouteName('health-details')]"
            ><span>Details </span>
            <i class="bi bi-exclude" aria-hidden="true"></i
          ></a>
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[GetRouteByRouteName('health-monitor')]"
            ><span>Monitor </span>
            <i class="bi bi-exclude" aria-hidden="true"></i
          ></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
