.server {
  margin: 15px 30px;
  background-color: #eee;
  transition-duration: 0.3s;
  border-radius: 25px !important;
  box-shadow: 4px 3px 8px 0px gray;
  border: 3px solid var(--color-secondary);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 4px 3px 11px 6px gray;
  }

  .offline {
    background-color: rgb(237 99 71);
  }

  .online {
    background-color: rgb(80 184 60);
  }
}
