<div class="trigger">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Process</th>
        <th scope="col">Profile</th>
        <th scope="col">Server</th>
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Run</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ triggerIndex + 1 }}</th>
        <td>{{ trigger.triggerName }}</td>
        <td>{{ trigger.processName }}</td>
        <td>{{ trigger.processType }}</td>
        <td>{{ trigger.server | bpServerName }}</td>
        <td (click)="ViewTrigger(trigger)">
          <i class="bi bi-eye-fill primary" aria-hidden="true"></i>
        </td>
        <td (click)="EditTrigger(trigger)">
          <i class="bi bi-pencil-square secondary" aria-hidden="true"></i>
        </td>
        <td (click)="ExecuteTrigger(trigger)">
          <i aria-hidden="true" class="bi bi-play-circle-fill success"></i>
        </td>
        <td (click)="DeleteTrigger(trigger)">
          <i aria-hidden="true" class="bi bi-archive-fill danger"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
