<div class="create-trigger">
  <div *ngIf="allServers$ | async as allServers" class="form-wrapper mt-3">
    <form [formGroup]="createTriggerForm">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="form-group triggerName">
              <label for="triggerName" class="form-label required"
                >Trigger Name</label
              >
              <input
                id="triggerName"
                name="triggerName"
                class="form-control highlight"
                formControlName="triggerName"
              />
            </div>

            <div class="col-md-6">
              <div formGroupName="server">
                <div class="form-group serverName">
                  <label for="serverName" class="form-label required"
                    >Server Name</label
                  >
                  <select
                    id="serverName"
                    name="serverName"
                    class="form-control highlight"
                    formControlName="serverName"
                  >
                    <option value="" selected>Select a server...</option>
                    <option
                      *ngFor="let server of allServers"
                      [value]="server.serverName"
                    >
                      {{ server.serverName }}
                    </option>
                  </select>
                </div>

                <div class="form-group aeVersion">
                  <label for="aeVersion" class="form-label required"
                    >AssistEdge Version</label
                  >
                  <app-spinner
                    class="form-control highlight"
                    *ngIf="!(selectedServerName$ | async)"
                    spinnerColor="#428bca"
                    >Select Server First...</app-spinner
                  >
                  <app-spinner
                    class="form-control highlight"
                    *ngIf="
                      (selectedServerName$ | async) &&
                      !(selectedServer$ | async)
                    "
                    spinnerColor="#428bca"
                    >Fetching Server details...</app-spinner
                  >
                  <input
                    id="aeVersion"
                    name="aeVersion"
                    formControlName="aeVersion"
                    class="form-control highlight"
                    *ngIf="
                      (selectedServerName$ | async) && (selectedServer$ | async)
                    "
                  />
                </div>

                <div class="form-group listenerUrl">
                  <label for="listenerUrl" class="form-label required"
                    >Listener URL</label
                  >
                  <app-spinner
                    *ngIf="!(selectedServerName$ | async)"
                    class="form-control highlight"
                    spinnerColor="#428bca"
                    >Select Server First...</app-spinner
                  >
                  <app-spinner
                    class="form-control highlight"
                    *ngIf="
                      (selectedServerName$ | async) &&
                      !(selectedServer$ | async)
                    "
                    spinnerColor="#428bca"
                    >Fetching Server details...</app-spinner
                  >
                  <input
                    type="text"
                    id="listenerUrl"
                    formControlName="listenerUrl"
                    class="form-control highlight"
                    *ngIf="
                      (selectedServerName$ | async) && (selectedServer$ | async)
                    "
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profileName">
                <label for="profileName" class="form-label required"
                  >Profile Name</label
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="!(selectedServerName$ | async)"
                  spinnerColor="#428bca"
                  >Select Server First...</app-spinner
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="
                    (selectedServerName$ | async) && !(allMappings$ | async)
                  "
                  spinnerColor="#428bca"
                  >Fetching mapped profiles...</app-spinner
                >
                <select
                  id="profileName"
                  name="profileName"
                  class="form-control highlight"
                  formControlName="profileName"
                  *ngIf="
                    (selectedServerName$ | async) &&
                    (allMappings$ | async) as allMappings
                  "
                >
                  <option value="" selected>Select a profile...</option>
                  <option
                    *ngFor="let item of allMappings | keyvalue"
                    [value]="item.key"
                  >
                    {{ item.key }}
                  </option>
                </select>
              </div>

              <div class="form-group processName">
                <label for="processName" class="form-label required"
                  >Process Name</label
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="!(selectedProfileName$ | async)"
                  spinnerColor="#428bca"
                  >Select process type First...</app-spinner
                >
                <select
                  id="processName"
                  name="processName"
                  class="form-control highlight"
                  formControlName="processName"
                  *ngIf="
                    (selectedServerName$ | async) &&
                    (mappedProcesses$ | async) as mappedProcesses
                  "
                >
                  <option value="" selected>Select a process...</option>
                  <option *ngFor="let item of mappedProcesses" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="processExpirationTime" class="form-label required"
                  >Expiration Time (in ms)</label
                >
                <input
                  step="50"
                  type="number"
                  id="processExpirationTime"
                  class="form-control highlight"
                  formControlName="processExpirationTime"
                  placeholder="Process expiration time in ms..."
                />
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 col-sm-12">
              <div class="form-heading">Process Inputs</div>
            </div>
            <div class="col-md-6 col-sm-12">
              <button
                type="button"
                (click)="addProcessInput('', '')"
                class="btn btn-success pull-right"
                [disabled]="createTriggerForm.invalid"
                [ngClass]="{
                  'form-valid': !createTriggerForm.invalid,
                  'form-invalid': createTriggerForm.invalid
                }"
              >
                Add new Input
              </button>
            </div>
          </div>

          <div class="row" *ngIf="processDetails$ | async as processDetails">
            <div formArrayName="processInputs" class="form-group">
              <div
                *ngFor="let itemrow of formsArr.controls; let i = index"
                class="form-group"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-sm-4">
                    <textarea
                      type="text"
                      class="form-control highlight"
                      formControlName="name"
                    ></textarea>
                  </div>
                  <div class="col-sm-7">
                    <textarea
                      class="form-control highlight"
                      formControlName="value"
                    ></textarea>
                  </div>
                  <div class="col-sm-1">
                    <i
                      type="button"
                      class="fa fa-remove text-center"
                      (click)="deleteProcessInput(i)"
                    >
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="AddTrigger()"
              [disabled]="createTriggerForm.invalid"
              [ngClass]="{
                'form-valid': !createTriggerForm.invalid,
                'form-invalid': createTriggerForm.invalid
              }"
            >
              Save
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
  </div>

  <app-spinner
    [spinnerColor]="'#428bca'"
    [spinnerSize]="'1.5rem'"
    *ngIf="!(allServers$ | async)"
    >{{ " Fetching data from backend....." }}</app-spinner
  >
</div>

<!-- <div class="create-trigger">
  <div *ngIf="allServers$ | async as allServers" class="form-wrapper mt-3">
    <form [formGroup]="createTriggerForm">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="form-group">
              <label for="triggerName" class="form-label required"
                >Trigger Name</label
              >
              <input
                id="triggerName"
                name="triggerName"
                class="form-control highlight"
                formControlName="triggerName"
              />
            </div>

            <div class="col-md-6">
              <div formGroupName="server">
                <div class="form-group" *ngIf="allServers">
                  <label for="serverName" class="form-label required"
                    >Server Name</label
                  >
                  <select
                    id="serverName"
                    name="serverName"
                    class="form-control highlight"
                    formControlName="serverName"
                  >
                    <option value="" selected>Select a server...</option>
                    <option
                      *ngFor="let server of allServers"
                      [value]="server.serverName"
                    >
                      {{ server.serverName }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="aeVersion" class="form-label required"
                    >AssistEdge Version</label
                  >
                  <app-spinner
                    class="form-control highlight"
                    *ngIf="!isServerSelected"
                    spinnerColor="#428bca"
                    >Select Server First...</app-spinner
                  >
                  <input
                    id="aeVersion"
                    name="aeVersion"
                    formControlName="aeVersion"
                    class="form-control highlight"
                    *ngIf="isServerSelected"
                  />
                </div>
                <div class="form-group">
                  <label for="listenerUrl" class="form-label required"
                    >Listener URL</label
                  >
                  <app-spinner
                    *ngIf="!isServerSelected"
                    class="form-control highlight"
                    spinnerColor="#428bca"
                    >Select Server First...</app-spinner
                  >
                  <input
                    type="text"
                    id="listenerUrl"
                    formControlName="listenerUrl"
                    class="form-control highlight"
                    *ngIf="isServerSelected"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="profileName" class="form-label required"
                  >Profile Name</label
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="!isServerSelected"
                  spinnerColor="#428bca"
                  >Select Server First...</app-spinner
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="isServerSelected && !isProfileFetched"
                  spinnerColor="#428bca"
                  >Fetching mapped profiles...</app-spinner
                >
                <select
                  id="profileName"
                  name="profileName"
                  class="form-control highlight"
                  formControlName="profileName"
                  *ngIf="isProfileFetched"
                >
                  <option value="Select a profile..." selected>
                    Select a profile...
                  </option>
                  <option
                    *ngFor="let item of profileToProcessMapping | keyvalue"
                    [value]="item.key"
                  >
                    {{ item.key }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="processName" class="form-label required"
                  >Process Name</label
                >
                <app-spinner
                  class="form-control highlight"
                  *ngIf="!isServerSelected"
                  spinnerColor="#428bca"
                  >Select Server First...</app-spinner
                >
                <app-spinner
                  *ngIf="isServerSelected && !isProfileSelected"
                  class="form-control highlight"
                  spinnerColor="#428bca"
                  >Select a profile...</app-spinner
                >
                <app-spinner
                  *ngIf="
                    isServerSelected && isProfileSelected && !isProcessesFetched
                  "
                  class="form-control highlight"
                  spinnerColor="#428bca"
                  >Fetching processes...</app-spinner
                >
                <select
                  id="processName"
                  name="processName"
                  class="form-control highlight"
                  formControlName="processName"
                  *ngIf="isProcessesFetched"
                >
                  <option value="Select a process..." selected>
                    Select a process...
                  </option>
                  <option *ngFor="let item of mappedProcesses" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="processExpirationTime" class="form-label required"
                  >Expiration Time (in ms)</label
                >
                <input
                  step="50"
                  type="number"
                  id="processExpirationTime"
                  class="form-control highlight"
                  formControlName="processExpirationTime"
                  placeholder="Process expiration time in ms..."
                />
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 col-sm-12">
              <div class="form-heading">Process Inputs</div>
            </div>
            <div class="col-md-6 col-sm-12">
              <button
                type="button"
                (click)="addProcessInput('', '')"
                class="btn btn-success pull-right"
                [disabled]="createTriggerForm.invalid"
                [ngClass]="{
                  'form-valid': !createTriggerForm.invalid,
                  'form-invalid': createTriggerForm.invalid
                }"
              >
                Add new Input
              </button>
            </div>
          </div>

          <div
            class="row"
            *ngIf="
              (processesForSelectedProfile$ | async) && (processInfo$ | async)
            "
          >
            <div formArrayName="processInputs" class="form-group">
              <div
                *ngFor="let itemrow of formsArr.controls; let i = index"
                class="form-group"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-sm-4">
                    <textarea
                      type="text"
                      class="form-control highlight"
                      formControlName="name"
                    ></textarea>
                  </div>
                  <div class="col-sm-7">
                    <textarea
                      class="form-control highlight"
                      formControlName="value"
                    ></textarea>
                  </div>
                  <div class="col-sm-1">
                    <i
                      type="button"
                      class="fa fa-remove text-center"
                      (click)="deleteProcessInput(i)"
                    >
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="AddTrigger()"
              [disabled]="createTriggerForm.invalid"
              [ngClass]="{
                'form-valid': !createTriggerForm.invalid,
                'form-invalid': createTriggerForm.invalid
              }"
            >
              Save
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
  </div>

  <app-spinner
    [spinnerColor]="'#428bca'"
    [spinnerSize]="'1.5rem'"
    *ngIf="!(allServers$ | async)"
    >{{ " Fetching data from backend....." }}</app-spinner
  >
</div> -->
