<div class="site-layout">
  <header>
    <div class="navigation-bar">
      <app-headers></app-headers>
    </div>
  </header>

  <main>
    <div class="content-wrapper">
      <div class="content">
        <div class="left-sidebar">
          <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="main-content">
          <app-main-content></app-main-content>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
